---
layout: page
title: 고등고시 통계학 기출문제 목록
---

이 곳의 자료는 제가 수험생활 동안 정리해놓았던 노트를 참고해 정리한 것입니다. 수험과목으로서 통계학은 답이 유일하고, 풀이 방법도 대개 단편적이어서 노트 정리와 활용이 꽤 용이했습니다.

당시 노트를 활용하여 기출문제 풀이를 연도별로 열람할 수 있게 정리했고, 각 문제들이 수험 통계학의 어떤 부분에 위치하는 지를 키워드별로 정리하여 볼 수 있게 했습니다. 특히 빈출 키워드의 문제들을 일괄해 풀이해보면, 출제경향을 파악하기 쉬울 것입니다.

현업에 있는 지금은 이 자료를 다시 업데이트하기 무척 어렵습니다. 
이제 제 노트 역시 죽은 자료가 되었기에 공개를 망설일 수 밖에 없었습니다.
신림동 고시촌을 떠나온지 그리 오래 되지는 않았기에 그 기억을 살려 용기를 내고 이 자료를 공개합니다.

## 고등고시 기출문제 ##

아직 <span style="color: red;">미완성</span>입니다.

<h2>연도별 보기</h2>
<select name="year" id="year">
  <optgroup label="선택하세요.">
{% for year in (1987..2015) reversed %}  <option value="h-{{year}}">{{year}}년 행정고시</option>
  <option value="i-{{year}}">{{year}}년 입법고시</option>
{% endfor %}
  </optgroup>
</select>

<h2>태그별 보기</h2>
{% for p in site.pages %}
  {% if p.dir contains site.stat_dir and p.name !='index.md' %}
    {% capture p_tags %}{{ p.prob_tags }}{% endcapture %}{% assign p_tags = p_tags | split: ' ' %}
    {% for tag in p_tags %}
      {% unless tags contains tag %}{% assign tags = tags | join: '|' | append: '|' | append: tag | split: '|' %}{% endunless %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign tags = tags | sort %}
<ul class="no-bullet-list entry-meta">
{% for tag in tags %}{% unless forloop.first %} <li style="display: inline;"><a href="#{{ tag }}" class="tag"><span>{{ tag | replace: '_', ' ' }}</span></a>{% endunless %}{% endfor %}
</ul>

<ul class="no-bullet-list">
{% for tag in tags %}{% unless forloop.first %}<h3 id="{{ tag }}"><a href="#{{ tag }}">{{ tag | replace: '_', ' ' }}</a></h3><ul>{% for p in site.pages %}{% capture p_tags %}{{ p.prob_tags }}{% endcapture %}{% assign p_tags = p_tags | split: ' ' %}{% if p.dir contains site.stat_dir and p.name !='index.md' and p_tags contains tag %}{% assign examtag = p.dir | replace: site.stat_dir,'' | replace: 'h', '행정고시' | replace: 'i', '입법고시' | split: '-'%}{% assign year = examtag[1] | replace: '/', '' %}{% assign exam = examtag[0] %}{% assign dir = p.dir | append: '/' %}<li><a href="{{ p.url }}">{{ year }}년 {{ exam }} 통계학 제 {{ p.name | replace: '.md', '' }}문</a></li>{% endif %}{% endfor %}</ul>{% endunless %}{% endfor %}
</ul>
