---
layout: default
---
{% assign new_var = page.slug | prepend: '/' %}
{% assign examtag = page.url | remove_first: new_var | split: '/' | last | split: '-'%}
{% assign year = examtag[1] | replace: '/', '' | plus:0 %}
{% assign exam = examtag[0] %}{% capture page_title %}
{% if page.slug == 'index' %}{{ year }}년 {{ exam  | replace: 'h', '행정고시' | replace: 'i', '입법고시' }} 통계학
{% else %}{{ year }}년 {{ exam  | replace: 'h', '행정고시' | replace: 'i', '입법고시' }} 통계학 제 {{ page.slug }}문{% endif %}{% endcapture %}
<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full {{ page.subclass }} {% unless page.cover %}no-image{% endunless %}">

            <header class="post-full-header">
                <h1 class="post-full-title">{{ page_title }}</h1>
            </header>

            {% if page.cover %}
            <figure class="post-full-image" style="background-image: url({{ site.baseurl }}{{ page.cover }})">
            </figure>
            {% endif %}

            <section class="post-full-content">
{% if page.slug == 'index' %}
    {% for prob in site.StatisticsPastTestQuestions %}
        {% if prob.year == year and prob.testsort == exam and prob.slug != 'index' %}

        <h2>제 {{ prob.slug }}문</h2>
        <figure>
            <!--[if lte IE 8]><img src="{{ prob.slug }}"><![endif]-->
            <!--[if gt IE 8]><img src="{{ prob.slug }}"><![endif]-->
            <!--[if !IE]> --><img src="{{ prob.slug }}.svg" style="box-sizing: border-box; width: 100%; border: 1px solid silver;"><!-- <![endif]-->
        </figure>
        {{ prob.content }}
        <footer class="entry-meta">{% assign tags = prob.prob_tags %}
            <h3>관련 키워드</h3>
            <ul>
                    {% for tag in tags %}<li><a href="../#{{ tag }}" class="tag">{{ tag | replace: '_', ' ' }}</a></li>{% endfor %}
            </ul>
        </footer>          
        {% endif %}
    {% endfor %}

<h2 class="noprint">문제지 내려받기</h2>
<span class="center"><a href="../total/{{ exam }}-{{ year }}.pdf" class="btn btn-center noprint"><i class="fa fa-download"></i>
  {{ exam }}-{{ year }}.pdf</a></span>

{% else %}
        <figure>
            <!--[if lte IE 8]><img src="{{ page.url | replace: 'html', 'png' }}"><![endif]-->
            <!--[if gt IE 8]><img src="{{ page.url | replace: 'html', 'svg' }}"><![endif]-->
            <!--[if !IE]> --><img src="{{ page.url | replace: 'html', 'svg' }}" style="box-sizing: border-box; width: 100%; border: 1px solid silver;"><!-- <![endif]-->
        </figure>

{{ content }}

<footer class="entry-meta">{% assign tags = page.prob_tags %}
    <h2>관련 키워드</h2>
    <ul>
        {% for tag in tags %}<li><a href="../#{{ tag }}" class="tag">{{ tag | replace: '_', ' ' }}</a></li>{% endfor %}
    </ul>
</footer>

{% endif %}
            </section>

        </article>

    </div>
</main>

<!-- /post -->

<!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs -->
{% include page-scripts.html %}
